
body {

font-family: 'Montserrat', sans-serif;

  font-weight: lighter;
  background-color: #FFF5E0;
  color : #FF6969;

}

h1, h2 {
	font-family: 'Gabarito', sans-serif;
}


h1 {
      color: #BB2525;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 45px;
}

h2 {
    color: #141E46;
    font-weight: 30;
    letter-spacing: 1px;
    font-size: 25px;
    text-decoration: underline;
}

a {
  text-decoration: none;
   color: #BB2525;
   font-family: 'gabarito',serif;
   font-weight: bold;


}

a:hover {
     color: black;
       font-family: 'Gabarito', sans-serif;
  

}

#logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}


.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}


@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-red {
	background-color:#BB2525 ;
	color: white;
	padding: 15px 20px;
	border-radius: 8px;
}

.btn-red:hover {
	background-color:black ;
	color: white;
}

.list-horizontal {
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li {
	display: inline;
	padding: 10px;
}

#introduction p {
	margin-bottom: 40px;
}













